{% extends "base/base-main.html" %}

{% block navbar_side %}
	<ul class="nav">
	    <li>
	        <a href="{% url 'iabs:inicio'%}">
	            <i class="ti-layout"></i>
	            <p>Início</p>
	        </a>
	    </li>
	    <li>
	        <a href="#">
	            <i class="ti-pencil-alt"></i>
	            <p>Projetos</p>
	        </a>
	    </li>
	    <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            <i class="ti-bell"></i>
	            <p>Minhas notificações <b class="caret"></b></p>
	        </a>
	        <ul class="dropdown-menu">
	            <li><a href="#">Notificações 1</a></li>
	            <li><a href="#">Notificações 2</a></li>
	            <li><a href="#">Notificações 3</a></li>
	            <li><a href="#">Notificações 4</a></li>
	            <li><a href="#">Outras Notificações</a></li>
	        </ul>
	    </li>

	    <li class="active-pro active">
	        <a href="{% url 'usuario:inicio' %}">
	            <i class="ti-user"></i>
	            <p>Usuários</p>
	        </a>
	    </li>
	</ul>
{% endblock %}

{% block name_page %} Cadastro de usuário{% endblock %}

{% block base_content %}

<div class="row">
	<form method="POST" action="{% url 'usuario:cadastro' %}">
		<div class="col-lg-offset-1 col-lg-10 col-sm-12">		
			{% csrf_token %}
			<div class="form-group">
				<label for="primeiro-nome">Primeiro nome:</label>
				{{ form.first_name }}
			</div>
			<div class="form-group">
				<label for="ultimo-nome">Ultimo nome:</label>
				{{ form.last_name }}
			</div>
			<div class="form-group">
				<label for="email">E-mail:</label>
				{{ form.email }}
			</div>
			<div class="form-group">
				<label for="username">Nome no usuario:</label>
				{{ form.username }}
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label>
				{{ form.password }}
			</div>
		</div>
		<div class="col-lg-offset-8 col-lg-2 col-sm-12">
			<button type="submit" class="btn btn-default">Cadastrar usuário</button>
		</div>
	</form>
</div>





{% endblock %}