{% extends "base/base-main.html" %}

{% block name_page %}Usuário{% endblock %}

{% block base_content %}

<div class="row">
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-warning text-center">
                            <i class="ti-user"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>Cadastro de</p>
                            Usuário
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <a href="{% url 'usuario:cadastro' %}">
	                    <div class="stats">
	                        <i class="ti-plus"></i> Cadastrar novos usuários no SIGESP
	                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Usuários</h4>
                <p class="category">Lista de usuários cadastrados no SIGESP</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th>Primeiro nome</th>
                        <th>Ultimo nome</th>
                    	<th>E-mail</th>
                    	<th>Usuário</th>
                    	<th>Senha</th>
                    </thead>
                    <tbody>
                    	{% for users in all_users %}
						<tr>
                        	<td>{{users.first_name}}</td>
                        	<td>{{users.last_name}}</td>
                        	<td>{{users.email}}</td>
                        	<td>{{users.username}}</td>
                        	<td>**********</td>
                        </tr>							
                    	{% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


{% endblock %}