<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Prioridade</th>
                <th>Titulo</th>
                <th>Protocolo</th>
                <th>Status</th>
                <th class="text-center">Responsável</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for potencial in potencial_novo %}
                <tr>
                    <td class="text-center">
                        {% if potencial.prioridade_projeto == 0 %}
                            <span class="prioridade_alta justificativa" data-toggle="tooltip" data-placement="top" title="Prioridade Alta: {{ potencial.justificativa_prioridade }}"></span>
                        {% elif potencial.prioridade_projeto == 1 %}
                            <span class="prioridade_media justificativa" data-toggle="tooltip" data-placement="top" title="Prioridade Alta: {{ potencial.justificativa_prioridade }}"></span>
                        {% elif potencial.prioridade_projeto == 2 %}
                            <span class="prioridade_baixa justificativa"data-toggle="tooltip" data-placement="top" title="Prioridade Alta: {{ potencial.justificativa_prioridade }}"></span>
                        {% endif %}
                    </td>
                    <td>{{ potencial.titulo }}</td>
                    <td>{{ potencial.protocolo }}</td>
                    <td>{{ potencial.status.texto }}</td>
                    <td class="text-center">
                        <i class="ti-user" data-toggle="tooltip" data-placement="top" title="{{ potencial.possibilidade_responsavel.nome }}" data-original-title="{{ potencial.possibilidade_responsavel.nome }}"></i>
                    </td>
                    <td>
                        <a href="/projeto/potencial/{{ potencial.id }}/dadosbasicos">
                            <button class="btn btn-info btn-fill btn-wd">Completar cadastro</button>
                        </a>
                    </td>
                    <td>
                        <a href="/projeto/{{ potencial_done.id }}/eliminar_projeto/potencial" style="color: red;">
                            <span class="ti-close" data-toggle="tooltip" data-placement="top" title="Excluir"></span>
                        </a >
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        <pre><h5>Não existe nenhum projeto potencial cadastrado</h5></pre>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>