<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Prioridade</th>
                <th>Titulo</th>
                <th>Chave</th>
                <th>Responsável</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eliminado in possibilidade_eliminado %}
                <tr>
                    <td class="text-center">
                        {% if eliminado.prioridade_projeto == 0 %}
                            <span class="prioridade_alta justificativa" data-toggle="tooltip" data-placement="top" title="Prioridade Alta: {{ potencial.justificativa_prioridade }}"></span>
                        {% elif eliminado.prioridade_projeto == 1 %}
                            <span class="prioridade_media justificativa" data-toggle="tooltip" data-placement="top" title="Prioridade Alta: {{ potencial.justificativa_prioridade }}"></span>
                        {% elif eliminado.prioridade_projeto == 2 %}
                            <span class="prioridade_baixa justificativa"data-toggle="tooltip" data-placement="top" title="Prioridade Alta: {{ potencial.justificativa_prioridade }}"></span>
                        {% endif %}
                    </td>
                    <td>{{ eliminado.titulo }}</td>
                    <td>{{ eliminado.chave }}</td>
                    <td>{{ eliminado.possibilidade_responsavel.nome }}</td>
                    <td>
{#                        <a href="/projeto/potencial/{{ potencial.id }}/dadosbasicos">#}
{#                            <button class="btn btn-info btn-fill btn-wd">Completar cadastro</button>#}
{#                        </a>#}
{#                        <a href="/projeto/{{ eliminado.id }}/eliminar_projeto/potencial" >#}
{#                            <button type="button" class="btn btn-info btn-fill" data-toggle="tooltip"#}
{#                                    data-placement="top" title="Excluir" >#}
{#                                <span class="ti-close"></span>#}
{#                            </button>#}
{#                        </a >#}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        <pre><h5>Não existe nenhum projeto eliminado</h5></pre>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>