{% extends "projeto/cadastro_possibilidade/base_cadastro_completo.html" %}
{% load static %}

{% block base_cadastro_completo %}
    <div class="tab-content">
        <div class="tab-pane active" id="tab_default_1">
            <h4 class="title">Cadastro de dados básicos</h4>
            <p class="category">Informações básicas da possibilidade</p>

            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12 col-lg-12">
                        <div class="form-group">
                            <label>Título da possibilidade</label>
                            {{ formPossibilidade.titulo }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label>Apoiador da possibilidade</label>
                            {{ formPossibilidade.apoiador }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-7">
                        <div class="form-group">
                            <label>Tema do possibilidade</label>
                            {{ formPossibilidade.tema_possibilidade }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-3">
                        <div class="form-group">
                            <label>Prazo limite</label>
                            {{ formPossibilidade.prazo_limite }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-2">
                        <div class="form-group">
                            <label>Periodo de execução</label>
                            {{ formPossibilidade.periodo_execucao }}
                        </div>
                    </div>
                    <div class="col-lg-12 col-lg-12">
                        <div class="form-group">
                            <label>Descrição resumida da possibilidade</label>
                            {{ formPossibilidade.descricao }}
                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12">
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Salvar Informações</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

