{% extends "base/base-main.html" %}
{% load static %}

{% block base_content_css %}
	<link href="{% static "css/projeto/home.css" %}" rel="stylesheet">
{% endblock %}

{% block name_page %} Projetos {% endblock %}

{% block base_content %}


<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="content">
        	<a href="{% url 'projeto:inicio' %}">
	                <div class="row">
	                    <div class="col-xs-5">
	                        <div class="icon-big icon-warning text-center">
	                            <i class="ti-marker-alt"></i>
	                        </div>
	                    </div>
	                    <div class="col-xs-7">
	                        <div class="numbers">
	                            <p>Projeto</p>
	                            Possibilidade
	                        </div>
	                    </div>
	                </div>
	                <div class="footer">
	                    <hr />
	                    <div class="stats">
	                        <i class="ti-clip"></i> Cadastro de Possibilidade de Projetos
	                    </div>
	                </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="content">
            	<a href="/projeto/potencial">
	                <div class="row">
	                    <div class="col-xs-5">
	                        <div class="icon-big icon-success text-center">
	                            <i class="ti-medall-alt"></i>
	                        </div>
	                    </div>
	                    <div class="col-xs-7">
	                        <div class="numbers">
	                            <p>Projeto</p>
	                            Potencial
	                        </div>
	                    </div>
	                </div>
	                <div class="footer">
	                    <hr />
	                    <div class="stats">
	                        <i class="ti-clip"></i> Andamento dos projetor potenciais.
	                    </div>
	                </div>
	            </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="content">
            	<a href="{% url 'projeto:eliminado' %}">
	                <div class="row">
	                    <div class="col-xs-5">
	                        <div class="icon-big icon-danger text-center">
	                            <i class="ti-na"></i>
	                        </div>
	                    </div>
	                    <div class="col-xs-7">
	                        <div class="numbers">
	                            <p>Projeto</p>
	                            Eliminado
	                        </div>
	                    </div>
	                </div>
	                <div class="footer">
	                    <hr />
	                    <div class="stats">
	                        <i class="ti-clip"></i> Projeto eliminado
	                    </div>
	                </div>
	            </a>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="title">Possibilidades de Projetos</h4>
                            <p class="category">Abra o projeto para avaliar a possibilidade</p>
                            <br>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'projeto:add_possibilidade' %}">
                            <button class="btn btn-success btn-fill btn-wd btn-block">Cadastrar nova possibilidade</button>
                            </a>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#cadastroRun"><span class="ti-pencil"></span> Cadastro completo em andamento</a></li>
                    <li><a data-toggle="tab" href="#cadastroDone"><span class="ti-check-box"></span> Possibilidade cadastrada</a></li>
                </ul>

                <div class="tab-content">
                    <div id="cadastroRun" class="tab-pane fade in active">
                        {% include 'projeto/home/projeto_cadastro_andamento.html' %}
                    </div>
                    <div id="cadastroDone" class="tab-pane fade">
                        {% include 'projeto/home/projeto_cadastro_completo.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

{% endblock %}
