

<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <th>Prioridade</th>
            <th>Data de Criação</th>
            <th>Chave</th>
            <th>Titulo</th>
            <th>Status</th>
            <th>Responsável</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for item in possibilidade_completa %}
                <tr>
                    <td class="text-center">
                        {% if item.prioridade_projeto == 0 %}
                            <hidden id="justificativa" value="{{ item.justificativa_prioridade }}"></hidden>
                            <span class="prioridade_alta justificativa" data-toggle="tooltip" data-placement="top" title="Prioridade Alta: {{ item.justificativa_prioridade }}"></span>
                        {% elif item.prioridade_projeto == 1 %}
                            <span class="prioridade_media justificativa" data-toggle="tooltip" data-placement="top" title="Prioridade Média: {{ item.justificativa_prioridade }}"></span>
                        {% elif item.prioridade_projeto == 2 %}
                            <span class="prioridade_baixa justificativa" data-toggle="tooltip" data-placement="top" title="Prioridade Baixa: {{ item.justificativa_prioridade }}"></span>
                        {% endif %}
                    </td>
                    <td>{{ item.date_created|date:"d-m-Y" }}</td>
                    <td>{{ item.chave }}</td>
                    <td>{{ item.titulo }}</td>
                    <td>{{ item.status.texto }}</td>
                    <td>{{ item.possibilidade_responsavel.nome }}</td>
                    <td>
                        <a href="/projeto/{{ item.id }}/cadastro/{{ item.chave }}/dadosbasicos" >
                            <button type="button" class="btn btn-info btn-fill" data-toggle="tooltip"
                                    data-placement="top" title="ATUALIZAR" >
                                <span class="ti-reload"></span>
                            </button>
                        </a >
                    </td>
                    <td>
                        <a href="/projeto/{{ item.id }}/possibilidade/{{ item.chave }}/avaliar" >
                            <button type="button" class="btn btn-info btn-fill" data-toggle="tooltip"
                                    data-placement="top" title="AVALIAR" >
                                <span class="ti-pencil"></span>
                            </button>
                        </a >
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        <pre><h5>Não existe nenhuma possibilidade com cadastro Finalizado</h5></pre>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>