<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <th>Data de Criação</th>
            <th>Chave</th>
            <th>Titulo</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for item in projetoObj %}
                {% if item.status.cod_status == 102001000 %}
                <tr>
                    <td>{{ item.date_created }}</td>
                    <td>{{ item.chave }}</td>
                    <td>{{ item.titulo }}</td>
                    <td>{{ item.status.texto }}</td>
                    <td><button type="button" class="btn btn-info btn-fill">Avaliar</button></td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>