<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <th>Data de Criação</th>
            <th>Chave</th>
            <th>Titulo</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for item in possibilidade_andamento %}
                <tr>
                    <td>{{ item.date_created|date:"d-m-Y"}}</td>
                    <td>{{ item.chave }}</td>
                    <td>{{ item.titulo }}</td>
                    <td>{{ item.status.texto }}</td>
                    <td>
                        <a href="/projeto/{{ item.id }}/cadastro/{{ item.chave }}/dadosbasicos">
                            <button type="submit" class="btn btn-info btn-fill">Continuar</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        <pre><h5>Não existe nenhuma possibilidade com cadastro Iniciado/Andamento</h5></pre>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>