{% extends "projeto/potencial/cadastros/cadastro_potencial_base.html" %}
{% load static %}


{% block base_cadastro_potencial %}

    <div class="tab-content">
        <div class="tab-pane active" id="tab_default_2">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="title">Cadastro da Localização do projeto potencial</h4>
                    <p class="category">Informações dos dados da localização da possibilidade </p>
                </div>
                <div class="col-md-4">
                </div>
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="id_localizacao_mundial">Área de abrangencia</label>
                            {{ formLocalizacao.localizacao_mundial }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-group">
                            <label for="id_localizacao_mundial">Outras informações em relação a localização</label>
                            {{ formLocalizacao.localizacao_descricao }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xs-12">

                        {% if show_form_abrangencia %}
                        <button type="submit" class="btn btn-info btn-fill btn-block btn-wd"
                                data-toggle="tooltip" data-placement="top" title="Ao alterar as informações os dados cadastrados serão perdidos">
                                Alterar informações</button>
                        {% else %}
                        <button type="submit" class="btn btn-info btn-fill btn-block btn-wd">
                            Salvar Informações
                        </button>
                        {% endif %}

                    </div>
                </div>
            </form>

            {#AREA DE ABRANGENCIA SELECIONADA COMO "NACIONAL"#}
            {% if show_form_abrangencia %}
                {% if show_form_estado %}
                <form method="POST" action="/projeto/potencial/{{ id_potencial }}/localizacao/save/estado">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-10 col-xs-12">
                            <div class="form-group">
                                <label for="id_localizacao_mundial">Selecione o(s) estado(s) de atuação do projeto</label>
                                {{ formEstado.estado_projeto }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <button type="submit" class="btn btn-info btn-fill btn-block btn-wd" style="margin-top: 27px;">Salvar Estado</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            {% endif %}

            {#AREA DE ABRANGENCIA SELECIONADA COMO "REGIONAL"#}
            {% if show_form_abrangencia %}
                {% if show_form_regional %}
                <form method="POST" action="/projeto/potencial/{{ id_potencial }}/localizacao/save/regiao">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-10 col-xs-12">
                            <div class="form-group">
                                <label for="id_localizacao_mundial">Selecione a(s) região(s) de atuação do projeto</label>
                                {{ formRegiao.regiao_projeto }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <button type="submit" class="btn btn-info btn-fill btn-block btn-wd" style="margin-top: 27px;">Salvar Região</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            {% endif %}

            {#AREA DE ABRANGENCIA SELECIONADA COMO "ESTADUAL"#}
            {% if show_form_abrangencia %}
                {% if show_form_estadual %}
                <form method="POST" action="/projeto/potencial/{{ id_potencial }}/localizacao/save/estado">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-10 col-xs-12">
                            <div class="form-group">
                                <label for="id_localizacao_mundial">Selecione o(s) estado(s) de atuação do projeto</label>
                                {{ formEstado.estado_projeto }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <button type="submit" class="btn btn-info btn-fill btn-block btn-wd" style="margin-top: 27px;">Salvar Estado</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            {% endif %}

            {#AREA DE ABRANGENCIA SELECIONADA COMO "MUNICIPAL"#}
            {% if show_form_abrangencia %}
                {% if show_form_municipio %}
                <form method="POST" action="/projeto/potencial/{{ id_potencial }}/localizacao/save/municipio">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-10 col-xs-12">
                            <div class="form-group">
                                <label for="id_localizacao_mundial">Selecione o(s) município(s) de atuação do projeto</label>
                                {{ formMunicipio.municipio_projeto }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <button type="submit" class="btn btn-info btn-fill btn-block btn-wd" style="margin-top: 27px;">Salvar Município</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            {% endif %}

            {#AREA DE ABRANGENCIA SELECIONADA COMO "INTERNACIONAL"#}
            {% if show_form_abrangencia %}
                {% if show_form_internacional %}
                <form method="POST" action="/projeto/potencial/{{ id_potencial }}/localizacao/save/pais">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-10 col-xs-12">
                            <div class="form-group">
                                <label for="id_localizacao_mundial">Selecione o(s) País(es) de atuação do projeto</label>
                                {{ formInternacional.pais_projeto }}
                            </div>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <button type="submit" class="btn btn-info btn-fill btn-block btn-wd" style="margin-top: 27px;">Salvar Município</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            {% endif %}


            {% if show_form_abrangencia %}
                <div class="row">
                    {% if show_form_estado or show_form_estadual %}
                    <div class="col-md-12"><h3>Estado(s)</h3></div>
                        {% for item_loc in allEstado %}
                        <div class="col-md-3">
                            <button type="button" class="btn btn-wd btn-warning btn-fill btn-magnify btn-xs btn-block" style="margin-top: 10px;">
                                <span class="btn-label">
                                    <i class="ti-location-pin"></i>
                                </span> {{ item_loc.estado_projeto }}
                            </button>
                        </div>
                        {% empty %}
                            <pre class="text-center">Nao possui estado cadastrado</pre>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="row">
                    {% if show_form_regional %}
                    <div class="col-md-12"><h3>Região(es)</h3></div>
                        {% for item_loc in allRegiao %}
                        <div class="col-md-3">
                            <button type="button" class="btn btn-wd btn-warning btn-fill btn-magnify btn-xs btn-block" style="margin-top: 10px;">
                                <span class="btn-label">
                                    <i class="ti-location-pin"></i>
                                </span> {{ item_loc.regiao_projeto.nome }}
                            </button>
                        </div>
                        {% empty %}
                            <pre class="text-center">Nao possui regiao cadastrado</pre>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="row">
                    {% if show_form_municipio %}
                    <div class="col-md-12"><h3>Municípo(s)</h3></div>
                        {% for item_loc in allMunicipio %}
                        <div class="col-md-3">
                            <button type="button" class="btn btn-wd btn-warning btn-fill btn-magnify btn-xs btn-block" style="margin-top: 10px;">
                                <span class="btn-label">
                                    <i class="ti-location-pin"></i>
                                </span> {{ item_loc.municipio_projeto }}
                            </button>
                        </div>
                        {% empty %}
                            <pre class="text-center">Nao possui municipio cadastrado</pre>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="row">
                    {% if show_form_internacional %}
                    <div class="col-md-12"><h3>País(es)</h3></div>
                        {% for item_loc in allPais %}
                        <div class="col-md-3">
                            <button type="button" class="btn btn-wd btn-warning btn-fill btn-magnify btn-xs btn-block" style="margin-top: 10px;">
                                <span class="btn-label">
                                    <i class="ti-location-pin"></i>
                                </span> {{ item_loc.pais_projeto }}
                            </button>
                        </div>
                        {% empty %}
                            <pre class="text-center">Nao possui país cadastrado</pre>
                        {% endfor %}
                    {% endif %}
                </div>

            {% endif %}

        </div>
    </div>

{% endblock %}