{% extends "projeto/potencial/cadastros/cadastro_potencial_base.html" %}
{% load static %}

{% block base_cadastro_potencial %}
    <div class="tab-content">

        <div class="tab-pane active" id="tab_default_2">
            <h4 class="title">Cadastro do(s) Parceiro(s) do projeto potencial</h4>
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="id_nucleo">Nome do parceiro</label>
                        {{ formParceiro.nome }}
                    </div>
                </div>
{#            </div>#}
{#            <div class="row">#}
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="id_nucleo">Nome responsável</label>
                        {{ formParceiro.nome_responsavel }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="id_nucleo">Telefone</label>
                        {{ formParceiro.telefone }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="id_nucleo">E-mail</label>
                        {{ formParceiro.email }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="id_nucleo">Homepage</label>
                        {{ formParceiro.homepage }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <label>É necessário formalização de parceria ?</label>
                    <div class="radio">
                        <span class="icons">
                            <span class="first-icon fa fa-circle-o fa-base"></span>
                            <span class="second-icon fa fa-dot-circle-o fa-base"></span>
                        </span>
                        <input type="radio" name="formaliza_parceria" value="SIM" required="" id="id_formaliza_parceria_0">
                        <label for="radio1">SIM</label>
                    </div>
                    <div class="radio checked">
                        <span class="icons">
                            <span class="first-icon fa fa-circle-o fa-base"></span>
                            <span class="second-icon fa fa-dot-circle-o fa-base"></span>
                        </span>
                        <input type="radio" name="formaliza_parceria" value="NAO" required="" checked="" id="id_formaliza_parceria_1">
                        <label for="radio1">NÃO</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <label>Já existe algum instrumento formal ?</label>
                    <div class="radio">
                        <span class="icons">
                            <span class="first-icon fa fa-circle-o fa-base"></span>
                            <span class="second-icon fa fa-dot-circle-o fa-base"></span>
                        </span>
                        <input type="radio" name="existe_instrumento_formal" value="SIM" required="" id="id_existe_instrumento_formal_0">
                        <label for="radio1">SIM</label>
                    </div>
                    <div class="radio checked">
                        <span class="icons">
                            <span class="first-icon fa fa-circle-o fa-base"></span>
                            <span class="second-icon fa fa-dot-circle-o fa-base"></span>
                        </span>
                        <input type="radio" name="existe_instrumento_formal" value="NAO" required="" checked="" id="id_existe_instrumento_formal_1">
                        <label for="radio1">NÃO</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="radio">
                        <label>Necessita de instrumento específico?</label>
                        {{ formParceiro.tipo_instrumento }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Salvar Parceiro</button>
                        <button type="button" class="btn btn-warning btn-fill btn-wd" data-toggle="modal"
                                data-target="#modalParceiro">Adicionar Parceiro existente
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <style>
            .table td:nth-child(2) { width: 300px; }
            .table td:nth-child(3) { width: 300px; }
            .table td:nth-child(4) { width: 150px; }
            .table td:nth-child(5) { width: 250px; }

        </style>

        <div class="row">
            <div class="col-md-12">
                <h4 class="title">Parceiro(s) inserido(s) no Projeto Potencial</h4>
                <div class="table-responsive" style="overflow-x:auto;">
                    <div style="width: 1500px;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nome</th>
                                    <th>Responsável</th>
                                    <th>Telefone</th>
                                    <th>Email</th>
                                    <th>Homepage</th>
                                    <th><small>Necessário formalização de parceria </small></th>
                                    <th><small>Existe algum instrumento formal assinado</small></th>
                                    <th><small>Instrumento específico necessário</small></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for x in parceiro_cadastrado %}
                                <tr>
                                    <th><small>{{ forloop.counter }}</small></th>
                                    <td><small>{{ x.parceiro.nome }}</small></td>
                                    <td><small>{{ x.parceiro.nome_responsavel }}</small></td>
                                    <td><small>{{ x.parceiro.telefone }}</small></td>
                                    <td><small>{{ x.parceiro.email }}</small></td>
                                    <td><small>{{ x.parceiro.homepage }}</small></td>
                                    <td class="text-center">
                                    <small>
                                        {% if x.parceiro.formaliza_parceria == 'SIM' %}
                                            <span class="ti-thumb-up" style="color:green;font-size: 22px;"></span>
                                        {% else %}
                                            <span class="ti-na" style="color:red;font-size: 22px;"></span>
                                        {% endif %}
                                    </small>
                                    </td>
                                    <td class="text-center">
                                    <small>
                                        {% if x.parceiro.existe_instrumento_formal == 'SIM' %}
                                            <span class="ti-thumb-up" style="color:green;font-size: 22px;"></span>
                                        {% else %}
                                            <span class="ti-na" style="color:red;font-size: 22px;"></span>
                                        {% endif %}
                                    </small>
                                    </td>
                                    <td><small>{{ x.parceiro.tipo_instrumento.nome }}</small></td>
                                    <td>
                                        <a href="/projeto/potencial/{{ id_potencial }}/parceiros/delete/{{ x.id }}" title="Excluir parceiro">
                                            <span class="ti-close" style="color:red;"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center">
                                        <pre><h5>Não existe nenhum parceiro cadastrado neste projeto potencial</h5></pre>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal add parceiro -->
    <div class="modal fade" id="modalParceiro" role="dialog" style="margin-top: 45px">
        <div class="modal-dialog ">
            <form method="POST" action="/projeto/potencial/{{ id_potencial }}/vincular/parceiro" >
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Vincular parceiro já existente</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Nome do parceiro</label>
                                    {{ formParceirosCadastrados.parceiro }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Vincular parceiro</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}